.home-logo {
    font-family: 'Charmonman', cursive;
    transform: rotate(-10deg);
    font-size: 5vmin;
    color: white;
    margin: 1em;
}


.home-description {
    color:white;
    background: rgba(0, 0, 0, 0.6);

}
