.review-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    color: white;
    background: rgba(0, 0, 0, 0.6);
}

.auth {
    color: white;
}


a {
    color: red;
}

a:hover {
    color: white;
}

button {
    background: black;
}

.review-item {
    display:flex;
    flex-direction: column;
}