.menu-nav {
    display: flex;
    list-style-type: none;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top: 1em;
}

.menu-nav-link {
    margin: 1em;
    font-size: 1.7vmin;
    text-decoration: none;
    color: white;
}

.menu-nav-link:hover {
    color: red;
    text-decoration: none;
}

@media only screen and (max-width: 900px) {
    .menu-nav-link {
        font-size: 2.5vmin;
    }
}