.hours-table {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.contact-page {
    color: white;
    background: rgba(0, 0, 0, 0.6);
}

th, td {
    padding: 1vmin;
}

.map-div {
    display: block;
    margin-left: 25%;
}