.hours-table {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.map-center {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}