.App-header {
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2vmin;
  height: max-content;
}
  
.nav-links {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.nav-link {
  margin: 1.5vmin;
  text-decoration: none;
  color: white;
  height: max-content;
  font-size: 1.6vmin;
  display: block;
}

.nav-link:hover {
  color: red;
  text-decoration: none;
}

.nav-link:active{
  color:red;
  text-decoration: none;
}


.logo {
  font-family: 'Charmonman', cursive;
  transform: rotate(-8deg);
  text-decoration: none;
  color: white;
  margin: .1vmin;
  font-size: 2.2vmin;
}

.logo:hover {
  text-decoration: none;
}

.logo:active {
  text-decoration: none;
}

.social-links {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.social-link {
  margin: 1vmin;
}

  @media only screen and (max-width: 900px) {
    .App-header {
      top: 0;
      left: 0;
      width: 100%;
      padding: 1vmin;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      font-size: 3vmin;
    }

    .nav-link {
      margin: 0 3vmin;
    }

    .social-link {
      margin: 0 1vmin;
    }
  }