.App-header {
    top: 0;
    left: 0;
    width: 100%;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2.5vmin;
  }
  
  .nav-links {
    display: flex;
    list-style-type: none;
    align-items: center;
  }
  
  .nav-link {
    margin: 3vmin;
    text-decoration: none;
    color: black;
  }

  .nav-link:hover {
    color: gray;
  }
  
  .logo {
    font-family: 'Charmonman', cursive;
    transform: rotate(-20deg);
    text-decoration: none;
    color: black;
  }
  
  .social-links {
    display: flex;
    list-style-type: none;
    align-items: center;
  }
  
  .social-link {
    margin: 1vmin;
  }

  @media only screen and (max-width: 900px) {
    .App-header {
      top: 0;
      left: 0;
      width: 100%;
      padding: 1vmin;
      background-color: pink;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      font-size: 3vmin;
    }

    .nav-link {
      margin: 0 3vmin;
    }

    .social-link {
      margin: 0 1vmin;
    }
  }