ul {
    list-style-type: none;
}

.full-menu {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    /* width: 100vmin; */
}

.menu-title {
    font-weight: bold;
    font-size: 2vmin;
}

.menu-detail {
    font-style: italic;
}

.menu-price {
    font-weight: bold;
}